@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/spring1.jpg" alt="Object-Oriented Programming" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Object-Oriented Programming
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/spring2.jpg" alt="Functional Programming" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Functional Programming
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/spring3.jpg" alt="Clean Code" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Clean Code
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/spring4.jpg" alt="Test-Driven Development" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Test-Driven Development
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>OOP</h2>
        <ul>
            <li>OOP-!</li>
            <li>OOP-2</li>
            <li>OOP-3</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>FP</h2>
        <ul>
            <li>FP-1</li>
            <li>FP-2</li>
            <li>FP-3</li>
            <li>FP-4</li>
            <li>FP-5</li>
            <li>FP-6</li>
            <li>FP-7</li>
            <li>FP-8</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Clean Code</h2>
        <ul>
            <li>Clean Code 1</li>
            <li>Clean Code 2</li>
            <li>Clean Code 3</li>
            <li>Clean Code 4</li>
            <li>Clean Code 5</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>TDD</h2>
        <ul>
            <li>TDD-1</li>
            <li>TDD-2</li>
            <li>TDD-3</li>
        </ul>
    </div>
</div>
